<div class="head">
    <div class="headchild">
      <div class="img">
        <img
          src="/images/uploads/<%= postData.filename %>"
          alt="Recipe Image"
        />
      </div>
    </div>
    <div class="headchild about-section">
      <h2><%= postData.dishName %></h2>

      <div class="likes">
        <button onclick="likeUpdate(this)">
          <%= postData.total_likes.length %> Likes
        </button>     
        <button id="comment" href="#">Comments</button>
        <button href="#">Save</button>
      </div>
      <h4
        style="
          text-align: center;
          margin-top: 30px;
          font-style: italic;
          margin-bottom: -40px;
        "
      >
        <span style="color: #00ff00">Created by: </span><%= userData[0].name
        %>
        <br>
      </h4>
      <div style="display: flex; margin-top: 40px; align-items: center">
        <img
          class="design"
          src="https://cdn-icons-png.flaticon.com/512/12331/12331588.png"
          alt=""
        />
        <h1>
          <q
            >Cooking is a way of showing love and <br />appreciation to
            those you care about</q
          >
        </h1>
      </div>
    </div>
  </div>








  <div class="Recipe">
    <div class="ingrediants">
      <h1 style="text-align: left">Ingredients</h1>

      <% ingredients.forEach(ingredient => { %>
      <div class="items">
        <p style="display: flex; align-items: center">
          <img
            style="width: 25px; height: 25px; margin-right: 10px"
            src="https://cdn-icons-png.flaticon.com/512/6785/6785304.png"
            alt=""
          />
          <%= ingredient %>
        </p>
      </div>
      <% }); %>
    </div>
    <div class="instruction">
      <h1 style="text-align: left">Instructions</h1>
      <ol style="list-style-type: decimal; margin-left: 20px">
        <% instruction.forEach(instruction => { %>
        <li style="margin-bottom: 20px"><%= instruction %></li>
        <% }) %>
      </ol>
    </div>
  </div>











  <div class="video-section" style="margin-top: 20px; text-align: center">
    <% if (postData.dishYouTubeLink) { 
        let youtubeLink;
        if (postData.dishYouTubeLink.includes('youtu.be')) {
            youtubeLink = postData.dishYouTubeLink.split('.be/')[1]; // For short URLs
        } else if (postData.dishYouTubeLink.includes('v=')) {
            youtubeLink = postData.dishYouTubeLink.split('v=')[1]; // For standard URLs
        }

        // Validate if youtubeLink has a value and seems correct
        if (youtubeLink) {
    %>
        <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/<%= youtubeLink %>" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>
    <% 
        } else { 
    %>
        <p>Invalid YouTube link.</p>
    <% 
        } 
    } else { 
    %>
        <p>No video available for this recipe.</p>
    <% } %>
</div>