<header>
  <nav>
    <div class="app-icon">
      <span class="app-name">
        <img src="/images/appLogo/headerLogo.png" alt="Recipe App Logo">
      </span>
    </div>
    <div class="menu-icon">&#9776;</div>
    <ul class="nav-links">
      <li><a href="/home">Home</a></li>
      <li><a href="/home/recipe">Recipes</a></li>
      <li><a href="/home/account">Account</a></li>
      <li><a href="/home/leaderBoard">Leader-Board</a></li>
      <li><a href="/home/aboutus">About</a></li>
    </ul>
  </nav>
</header>
